---
layout: default
---

<div class="teaserimage">
    <div class="teaserimage-image" {% if site.cover %}style="background-image: url({{ site.cover | prepend: site.baseurl }})"{% endif %}>
        Teaser Image
    </div>
</div>

<header class="blog-header">
    {% if site.logo %}
      <a class="blog-logo" href="{{site.url}}{{site.baseurl}}" style="background-image: url('{{ site.logo | prepend: site.baseurl }}')">{{ site.title }}</a>
    {% endif %}
    <h1 class="blog-title">{{ site.title }}</h1>
    <h2 class="blog-description">{{ site.description }}</h2>
    <div class="custom-links">
      {% for social in site.social %}
        {% if social.url %}
            <a class="icon-{{ social.icon }}" href="{{ social.url }}" {% if social.desc %} title="{{ social.desc }}"{% endif %} target="_blank">
              {% if social.icon == "file-text" %}
                CV
              {% else %}
                <i class="fa fa-{{ social.icon }}"></i>
              {% endif %}
            </a>
            {% unless forloop.last %}
              &nbsp;&nbsp;·&nbsp;&nbsp;
            {% endunless %}
        {% endif %}
      {% endfor %}
    </div>

    <nav class="tab-nav">
      <a href="#publications" class="tab-link active">Publications</a>
      <a href="#projects" class="tab-link">Projects</a>
    </nav>
</header>

<main class="content" role="main">
    <div class="tab-content">
        <div id="publications" class="tab active">
            <div class="section-content">
                <ul class="publications-list">
                    <li>
                        <a href="https://arxiv.org/abs/2312.13084">Pyreal: A Framework for Interpretable ML Explanations</a>
                        Alexandra Zytek, Wei-En Wang, Dongyu Liu, Laure Berti-Equille, Kalyan Veeramachaneni
                        <span class="venue">arXiv preprint 2023</span>
                    </li>
                    <li>
                        <a href="https://arxiv.org/pdf/2412.05145?">Explingo: Explaining AI Predictions using Large Language Models</a>
                        Alexandra Zytek, Sara Pido, Sarah Alnegheimish, Laure Berti-Equille, Kalyan Veeramachaneni
                        <span class="venue">IEEE BigData 2024</span>
                    </li>
                    <li>
                        <a href="https://arxiv.org/pdf/2405.06064">LLMs for XAI: Future Directions for Explaining Explanations</a>
                        Alexandra Zytek, Sara Pido, Kalyan Veeramachaneni
                        <span class="venue">CHI Workshop on Human-Centered XAI 2024</span>
                    </li>
                    <li>
                        <a href="https://dl.acm.org/doi/abs/10.1145/3575637">The Need for Interpretable Features: Motivation and Taxonomy</a>
                        Alexandra Zytek, Ignacio Arnaldo, Dongyu Liu, Laure Berti-Equille, Kalyan Veeramachaneni
                        <span class="venue">KDD Explorations 2022</span>
                    </li>
                    <li>
                        <a href="https://dl.acm.org/doi/abs/10.1145/3411763.3451832">Sibyl: Explaining Machine Learning Models for High-Stakes Decision Making</a>
                        Alexandra Zytek, Dongyu Liu, Rhema Vaithianathan, Kalyan Veeramachaneni
                        <span class="venue">CHI Extended Abstracts 2021</span>
                    </li>
                </ul>
            </div>
        </div>

        <div id="projects" class="tab">
            <div class="section-content">
                <ul class="projects-list">
                    <li>
                        <a href="https://github.com/DAI-Lab/pyreal">Pyreal</a>
                        <p class="description">Python library for low-code generation of ML explanations that are readily understood by users, even those without ML expertise.</p>
                        <div class="links">
                            <a href="https://pyreal.readthedocs.io/en/latest/tutorial.html">tutorial</a> ·
                            <a href="https://pyreal.readthedocs.io/">documentation</a> ·
                            <a href="https://github.com/DAI-Lab/pyreal">github</a> ·
                            <a href="https://arxiv.org/abs/2312.13084">paper</a>
                        </div>
                    </li>

                    <li>
                        <a href="https://github.com/DAI-Lab/sibyl">Sibyl-API</a>
                        <p class="description">Generalizable REST API for readily-understandable explainable ML.</p>
                        <div class="links">
                            <a href="https://sibyl.readthedocs.io/">documentation</a> ·
                            <a href="https://github.com/DAI-Lab/sibyl">github</a>
                        </div>
                    </li>

                    <li>
                        <a href="https://sibylapp.mit.edu/">Sibylapp</a>
                        <p class="description">Customizable front-end UI for bringing explainable ML into real-world domains.</p>
                        <div class="links">
                            <a href="https://sibylapp.mit.edu/">demo</a> ·
                            <a href="https://github.com/DAI-Lab/SibylApp">github</a> ·
                            <a href="https://ieeexplore.ieee.org/abstract/document/9552935">paper 1</a> ·
                            <a href="https://dl.acm.org/doi/abs/10.1145/3411763.3451832">paper 2</a>
                        </div>
                    </li>

                    <li>
                        <a href="https://github.com/DAI-Lab/explingo">Explingo</a>
                        <p class="description">Using LLMs to generate and evaluate more natural, usable ML explanations.</p>
                        <div class="links">
                            <a href="https://github.com/DAI-Lab/explingo">github</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</main>
